<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item">
            <a href="/Training/ViewDash" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Training
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/User/MyProfile" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Profile
                </p>
            </a>
        </li>

    </ul>
</nav>
<!-- /.sidebar-menu -->