<!-- Sidebar Menu -->
<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item">
            <a href="/Training/ViewAll" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Training
                </p>
            </a>
        </li>


        <li class="nav-item menu-open">
            <a href="#" class="nav-link">
                <i class="nav-icon fas fa-tachometer-alt"></i>
                <p>
                    Other
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="/Prerequisite/ViewAll" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Prequisites</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Department/ViewAll" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Department</p>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a href="/User/ViewAll" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Users
                </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/User/MyProfile" class="nav-link">
                <i class="nav-icon fas fa-th"></i>
                <p>
                    Profile
                </p>
            </a>
        </li>
    </ul>
</nav>
<!-- /.sidebar-menu -->