
@{
    ViewBag.Title = "Web Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2 class="mb-4">Info</h2>

    @if (ViewBag.Error != null)
    {
        <!-- Error Message -->
        <div class="alert alert-danger" role="alert">
            @ViewBag.Error
        </div>
    }
</div>

