
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2 class="mb-4">Info</h2>

    @if (TempData["Error"] != null)
    {
        <!-- Error Message -->
        <div class="alert alert-danger" role="alert">
            @TempData["Error"]
        </div>
    }
    @if (TempData["Success"] != null)
    {
        <!-- Success Message -->
        <div class="alert alert-success" role="alert">
            @TempData["Success"]
        </div>
    }
</div>

