
@{
    ViewBag.Title = "RegisterSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h2 class="mb-4">Employee Registration</h2>

    @if (TempData["Error"] == null)
    {
        <!-- Success Message -->
        <div class="alert alert-success" role="alert">
            Successfully Registered
        </div>
    }
    else
    {
        <!-- Error Message -->
        <div class="alert alert-success" role="alert">
            @TempData["Error"]
        </div>
    }




</div>

